OPENAI_API_KEY=sk-your-openai-api-key-here
# OPENAI_PROXY_URL=http://localhost:10531/v1
# OPENAI_PROXY_URL=http://localhost:8787/v1
OPENAI_PROXY_URL=
OLLAMA_PROXY_URL=http://localhost:11434
GOOGLE_API_KEY=your-google-api-key-here

LANGSMITH_API_KEY=
LANGSMITH_PROJECT=ollive
LANGSMITH_TRACING=true
